# Python with jupyter notebook

## Markdown practice

# #이 붙을수록 글자가 커짐


```python
s = "Python syntax highlighting"
print s
def add(a, b):
    return a + b
```

>  >는 인용
> This line is part of the same quote.

> Good
 
# 가장 큰 글씨
 - 리스트1
 - 리스트2
 - 리스트3
     - 1번
     - 2번



[LMS webpage](https://lms.sungshin.ac.kr/ilos/main/main_form.acl)

###자료형 다루기

In [23]:
a=10
b=1.1
c="Hello"
d='z'
e=False
print(type(a), type(b), type(c), type(d),type(e))
print(type(float(a)), a)

<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'bool'>
<class 'float'> 10

In [25]:
a=3
b=100
print(b/a)

33.333333333333336

In [27]:
name=input("What is your name?")
print(name)

What is your name?Soobin
Soobin

###문자열 다루기

In [14]:
a="My name is Soobin"
print(a.find("Soobin"))
print(len(a))
print(a.count('n'))
a=a.replace("Soobin","Subin")
print(a)
print(a[3:])
print(a[:10])

11
17
2
My name is Subin
name is Subin
My name is
My name is Subin

In [20]:
b="         HELLO      "
print(b.strip())
a ="Mynameis Hello.........."
print(a.strip('.'))

HELLO
Mynameis Hello

###데이터구조 다루기

In [ ]:
#데이터구조 1. 리스트 :추가삭제수정 전부 가능 []로 표현

In [66]:
lista=[]
#데이터 추가
lista.append(256)
lista.insert(0,"g")
#데이터 변경
lista[0]=234
#데이터 삭제
lista.remove(234)
del lista[0]
a= [8,2,3,4,5]
print(a, type(a))
a.sort();print(a);
a.reverse();print(a);
article="Hello My Name"
article=article.split()
print(article)

[8, 2, 3, 4, 5] <class 'list'>
[2, 3, 4, 5, 8]
[8, 5, 4, 3, 2]
['Hello', 'My', 'Name']

In [65]:
#데이터구조 2. 튜플 : 추가삭제수정 전부 불가능 ()로 표현

In [60]:
tu = (1,2,3)
print(tu, type(tu))
tu2 = (4,5,6)
print(tu+tu2) #더하거나
print(tu * 3) #반복은 가능
print(list(tu))
print(tuple(a))
#리스트에서 튜플로 튜플에서 리스트로 변환가능

(1, 2, 3) <class 'tuple'>
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3]
(8, 5, 4, 3, 2)

In [71]:
x=3
y=2
print(x,y)
x,y=y,x
print(x,y)

3 2
2 3

In [51]:
#데이터구조 3. 딕셔너리(dict) key:value 형태 삭제추가수정 가능 {}로 표현

In [78]:
score_dict = {"Jannie":234,"Jack":34,"Amy":342}
score_dict["Minsu"]=300
score_dict["Minsu"]=323
del score_dict["Jack"]
print(score_dict)
print(score_dict.keys())
print(score_dict.values())

{'Jannie': 234, 'Amy': 342, 'Minsu': 323}
dict_keys(['Jannie', 'Amy', 'Minsu'])
dict_values([234, 342, 323])

In [ ]:
#데이터구조 4. 집합(set)

In [79]:
#+각 데이터형 초기화 방법
data1 = list(); print(type(data1));
data2 = tuple(); print(type(data2));
data3 = dict(); print(type(data3));
data4=set(); print(type(data4));

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [84]:
set1 = { 1, 2, 4, 5}
set2 ={3 , 4, 5}
print(type(set1),type(set2))
print(set1 & set2)
print(set1 ^ set2)
print(set1 | set2)
print(set1 - set2)

<class 'set'> <class 'set'>
{4, 5}
{1, 2, 3}
{1, 2, 3, 4, 5}
{1, 2}