## 1. 문제를 풀며 빠르게 익숙해지는 파이썬 기본 프로그래밍1

### Exercise 1. 출력
* 화면에 "Hello World!"를 출력하세요.

In [1]:
print ("Hello World!")

Hello World!

### Exercise 2. 출력
* 화면에 "I don't like C language"를 출력하세요.

In [2]:
print ("I don't like C language")

I don't like C language

### Exercise 3. 출력
* print 함수를 사용하여 3.1415의 값을 출력하세요. 
  - 단, 소수점 아래는 첫 번째 자리까지만 표시되도록 하세요.

Example <br>
3.1

In [3]:
print("%.1f"%3.1415)

3.1

### Exercise 4. 형 변환
* 문자열 '720'를 정수형으로 변환하라. 정수 100을 문자열 '100'으로 변환하라.

In [14]:
a="720"
print(type(a))
print("--형변환 후--")
print(type(type(int(a))))
b=100
print(type(b))
print("--형변환 후--")

print(type(str(b)))

<class 'str'>
--형변환 후--
<class 'type'>
<class 'int'>
--형변환 후--
<class 'str'>

### Exercise 5. 연산
* 2와 4 숫자를 변수에 넣고, 두 변수를 더한 값, 곱한 값, 나눈 값을 출력하세요.

Example <br>
6 <br>
8 <br>
0.5

In [3]:
num1 = 2
num2 = 4

print (num1 + num2)
print (num1 * num2)
print (num1 / num2)

6
8
0.5

### Exercise 6. 연산
* 밑이 6 이고, 지수가 2 일 때 거듭제곱 값을 출력하라.
  - 6의 2승

Example <br>
36

In [15]:
print(6**2)

36

### Exercise 7.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값을 각각 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 2 and 4 <br>
OUTPUT: <br>

6

In [17]:
num1=input()

2

In [18]:
num2=input()

3

In [21]:
num1+num2

'23'

In [20]:
print(num1,"과 ",num2,"를 합쳐서 ",int(num1)+int(num2),"가 된다")

2 과  3 를 합쳐서  5 가 된다

input()은 무조건 문자열을 리턴한다

In [22]:
float(3)

3.0

In [24]:
str(1)

'1'

In [23]:
int(3.45545)

3

### Exercise 8. 입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값을 각각 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 2 and 4 <br>
OUTPUT: <br>

6 <br>
8 <br>
0.5

In [26]:
num1=int(input())
num2=int(input())
print(num1+num2)
print(num1*num2)
print(num1/num2)

2
10
12
20
0.2

### Exercise 9.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 4 and 4 <br>
OUTPUT: <br>

8 <br>
16 <br>
1.0 <br>
1 <br>
0

In [28]:
n1=int(input())
n2=int(input())
print("n1+n2=",n1+n2)
print("n1*n2=",n1*n2)
print("n1/n2=",n1/n2)
print("n1%n2=",n1%n2)
print("n1//n2=",n1//n2)

34
7
n1+n2= 41
n1*n2= 238
n1/n2= 4.857142857142857
n1%n2= 6
n1//n2= 4

### Exercise 10.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 다음과 같이 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 4 and 4 <br>
OUTPUT: <br>

4 + 4 = 8 <br>
4 * 4 = 16 <br>
4 / 4 = 1 <br>
4 // 4 = 1 <br>
4 % 4 = 0 <br>

In [30]:
n1=int(input("num1 : "))
n2=int(input("num2 : "))
print(n1,"+",n2," = ",n1+n2)
print(n1,"*",n2," = ",n1*n2)
print(n1,"/",n2," = ",n1/n2)
print(n1,"//",n2," = ",n1//n2)
print(n1,"%",n2," = ",n1%n2)

num1 : 3
num2 : 1
3 + 1  =  4
3 * 1  =  3
3 / 1  =  3.0
3 // 1  =  3
3 % 1  =  0

### Exercise 11.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 다음과 같이 출력하는 프로그램을 작성하세요.
  - 단, 나눈 값은 소숫점 첫번째 자리까지만 출력하세요.

Example<br>
INPUT: 5 and 4 <br>
OUTPUT: <br>

5 + 4 = 9 <br>
5 + 4 = 20 <br>
5 / 4 = 1.2 <br>
5 // 4 = 1 <br>
5 % 4 = 1 <br>

In [33]:
n1=int(input("num1 : "))
n2=int(input("num2 : "))
print(n1,"+",n2," = ",n1+n2)
print(n1,"*",n2," = ",n1*n2)
print(n1,"/",n2," = ",format(n1/n2,".1f"))
print(n1,"//",n2," = ",n1//n2)
print(n1,"%",n2," = ",n1%n2)

num1 : 5
num2 : 76
5 + 76  =  81
5 * 76  =  380
5 / 76  =  0.1
5 // 76  =  0
5 % 76  =  5